<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-strava-auth" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		StravaAuth
	</name>
	<js-module name="StravaAuth" src="www/StravaAuth.js">
		<clobbers target="cordova.plugins.StravaAuth" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="StravaAuth">
				<param name="ios-package" value="StravaAuth" />
			</feature>
		</config-file>
		<source-file src="src/ios/StravaAuth.swift" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="StravaAuth">
				<param name="android-package" value="com.cockpitmobile.stravaauth.StravaAuth" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/StravaAuth.java" target-dir="src/cordova-plugin-strava-auth/StravaAuth" />
	</platform>
</plugin>
